
/* content page */
.content-page {
    background: #fff;
    padding: 20px;
}
.content-page a {
    color: #767F88;
}
.content-page a:hover {
    color: #E02222;
}
.content-page .link, .content-page .link:hover, .content-page .link:active {
    color: #E02222;
}
.content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: inherit;
    padding-top: 10px;
}
.content-page h3 {
    font-size: 20px;
    margin-bottom: 7px;
}
.content-page h4 {
    font-size: 17px;
    margin-bottom: 4px;
}
.content-page h5, .content-page h6 {
    font: 700 15px 'Microsoft YaHei', Arial, sans-serif;
    margin-bottom: 2px;
}
.content-page p,
.content-page .list-unstyled {
    margin-bottom: 20px;
}
.content-page .list-unstyled .list-unstyled {
    margin-left: 20px;
    padding-top: 3px;
    margin-bottom: 0;
}
.content-page .list-unstyled li {
    margin-bottom: 3px;
}
