
/* content page */
.content-page {
    background: #fff;
    padding: 20px;
}
.content-page a {
    color: #767F88;
}

.content-page .link, .content-page .link:hover, .content-page .link:active {
    color: #E02222;
}
.content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
    text-transform: inherit;
    padding-top: 10px;
}
.content-page h3 {
    font-size: 20px;
    margin-bottom: 7px;
}
.content-page h4 {
    font-size: 17px;
    margin-bottom: 4px;
}
.content-page h5, .content-page h6 {
    font: 700 15px 'Microsoft YaHei', Arial, sans-serif;
    margin-bottom: 2px;
}
.content-page p,
.content-page .list-unstyled {
    margin-bottom: 20px;
}
.content-page .list-unstyled .list-unstyled {
    margin-left: 20px;
    padding-top: 3px;
    margin-bottom: 0;
}
.content-page .list-unstyled li {
    margin-bottom: 3px;
}

/* content form page */
div.content-form-page {
    background: #fff;
    padding: 5px 20px 30px;
}
.content-form-page a {
    color: #767F88;
}
.content-form-page a:hover {
    /*color: #E02222;*/
}
.form-without-legend {
    padding-top: 25px;
}
.content-form-page legend {
    border: none;
    font: 18px 'Microsoft YaHei', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 14px;
}
.content-form-page .control-label {
    font-weight: normal;
    padding-right: 5px;
    margin-left: 0px;
}
.default-form label,
.checkout-page label {
    font-weight: normal;
}
.require {
    color: #e94d1c;
}
.content-form-page input.form-control {
    border-color: #dbdbdb;
    color: #aaa;
    font: 14px Arial, sans-serif;
    /*border-radius: 0;*/
}
.content-form-page .form-control:focus {
    box-shadow: none;
    /*border: solid 1px #e94d1c;*/
}
.content-form-page .checkbox .col-lg-4 {
    padding-right: 0;
    margin-left: -15px;
}
.content-form-page .checker {
    margin-left: -15px;
}
.content-form-page .btn {
    margin-right: 10px;
    padding: 7px 12px 6px;
}
