


.bxslider-wrapper { /* rtl style */
    direction: ltr;
    overflow: hidden;
    padding-top: 40px;
    margin-top: -40px;
}

/* bx-slider styles */

.bxslider li {
    list-style: none;
    display: inline-block;
}
.bxslider-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}
.bxslider-wrapper-similar-products {
    padding-left: 15px;
    padding-right: 15px;
}
.bxslider-wrapper .bx-wrapper {
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.bxslider-wrapper-similar-products .bx-wrapper {
    position: relative;
}
.bxslider-wrapper .bx-controls-direction {
    position: absolute;
    top: 0;
    right: 0;
}
.bxslider-wrapper .bx-controls-direction {
    top: -40px;
}
.nav-content .product-item .add2cart {
    padding: 4px 6px 3px;
    font-size: 12px;
}

/* Top Search */
.header .nav li.menu-search {
    position: relative;
    padding-top: 25px;
}
.header .nav li.menu-search span.sep {
    top: 11px;
    width: 1px;
    height: 26px;
    background: #eaeaea;
    position: relative;
    margin: 0 26px 0 16px;
    display: inline-block;
}
.header .nav li.menu-search i {
    color: #8a949e;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 5px;
    background: url(../img/icons/top-search-icon.png) no-repeat;
    width: 15px;
    height: 15px;
}
.header .nav li.menu-search i:hover {
    color: #e02222;
    background-position: 0 -15px;
}
.header .fa-search:before {
    content: none;
}

.header .search-box {
    right: -7px;
    top: 100%;
    padding: 15px;
    display: none;
    background: #fcfafb;
    position: absolute;
    border-top: solid 2px #187705;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    width: 274px;
    margin-top: 12px;
    z-index: 9;
}
.header .search-box:after {
    top: -8px;
    width: 0;
    height: 0;
    right: 8px;
    z-index: 2;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 8px solid #187705;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.header .search-box button {
    margin-left: -1px;
}

