/***
jQuery Uniform
***/

/* Checkboxes */
.form-group .checkbox {
    padding-left: 0;
}

.checkbox-list > label {
    display: block;
}

.checkbox-list > label.checkbox-inline {
    display: inline-block;
}

.checkbox-list > label.checkbox-inline:first-child {
    padding-left: 0;
}

/* Radios */

.radio-list > label {
    display: block;
}

.radio-list > label.radio-inline {
    display: inline-block;
}

.radio-list > label.radio-inline:first-child {
    padding-left: 0;
}

.form-horizontal .radio-list .radio {
    padding-top: 1px;
}

.form-horizontal .radio-list > label {
    margin-bottom: 0;
}

.form-horizontal .radio > span {
    margin-top: 3px;
}

.checker {
    margin-top: -2px !important;
    margin-right: 2px !important;
}

.checker input,
.radio input {
    outline: none !important;
}

div.checker.disabled span,
div.checker.disabled.active span{
    background-position: -152px -260px;
}

div.checker.disabled:hover,
div.radio.disabled:hover {
    cursor: not-allowed;
}

div.radio,
div.checker {
    margin-right: 0;
    margin-left: 3px;
}

.bxslider-wrapper { /* rtl style */
    direction: ltr;
    overflow: hidden;
    padding-top: 40px;
    margin-top: -40px;
}
.col-md-12.sale-product > h2
{
    direction:ltr;
    margin-left:5px;
}
.fa-gift::before
{
    content:"\f109";
}
.fa-truck::before
{
    content:"\f132";
}
.pre-header a:hover
{
    color:#407436;
}
.header .navbar-nav > li.active > a, .header .navbar-nav > li > a:hover, .header .navbar-nav > li > a:focus, .header .navbar-nav > li.open > a, .header .navbar-nav > li.open > a:hover, .header .navbar-nav > li.open > a:focus
{
    color:#187705;
}
.header .nav li.menu-search i:hover
{
    color:#187705;
}
.header .dropdown-menu > li > a:hover, .header .dropdown-menu > li.active > a, .header .nav-content-col > ul li > a:hover, .header .nav-content-col > ul li.active > a
{
    background:#407436 none repeat scroll 0 0;
}
.btn-primary
{
    background:#187705 none repeat scroll 0 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
    background:#407436 none repeat scroll 0 0
}

.pre-footer a
{
    color:#65934a;
}

.pi-img-wrapper a
{
    padding-left:20px;
    font-size:24px;
}
.introduce
{
    max-width:560px;
    height:auto;
    text-align:left;
    padding-left:110px;
}
.introduce h3
{
    color:#767f88;
    padding-top:0px;
    padding-bottom:0px;
}
.introduce a
{
    font-size:24px;
}
.in-price
{
    color: #fa0e0e;
    float: left;
    font: 18px "Microsoft YaHei",sans-serif;
    padding-left: 20px;
    padding-top: 1px;
}


/*select{display: none;}*/
/*.select_box{font-family: "宋体"; font-size: 12px;color: #999999;width: 178px;line-height: 20px;margin: 50px auto;}*/
/*.select_option{border: 1px solid #b0a296;border-top: none;display: none;}*/
/*.select_option li{padding-left: 5px;}*/
/*.select_option li.selected{background-color: #F3F3F3;color: #999;}*/
/*.select_option li.hover{background: #7b6959; color: #fff;}*/


.resule-thumb
{
    width:90px;
    height:auto;
}

.ware-desc p
{
    padding-top:5px;
}
.price-avail
{
    text-align:center;
}
.price-avail p
{
    margin:0;
}
.price-avail p.price
{
    color:#fa0e0e;
    font-size:16px;
}
.price-avail a:hover
{
    color:#187705;
    text-decoration:none;
}
.pri_talk
{
    float:right;
    margin-top:-57px;
    margin-right:8px;
    text-align:center;
    color:#767f88;
}
.pri_talk a:hover
{
    color:#187705;
    text-decoration:none;
}
.pri_talk span
{
    font-size:18px;
}
.imgdisp img
{
    max-width:100%;
    height:auto;
}
ul.automatically
{
    width:100%;
    margin:0;
    padding:0;
    margin-top:20px;
}
ul.automatically li
{
    float:left;
    list-style:none;
    width:33.33%;
    border-right:1px solid #ccc;
    font-size:14px;
    color:#404040;
    line-height:14px;
    position:relative;
    text-align: center;
}
ul.automatically li a
{
    color:#404040;
}
ul.automatically li a:hover
{
    color:#187705;
}
.common_chk
{
    height: 13px;
    left: 8px;
    position: absolute;
    top: -3px;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline
{
    padding-top:0px;
}

.imgsto img
{
    max-width:50%;
    height:auto;
    padding:10px;
}
.content-page ul
{
    width:100%;
    height:160px;
    border:1px solid rgb(178,178,178);

    -moz-box-shadow:0px 0px 10px #BFBFBF;



    /* For Firefox3.6+ */

    -webkit-box-shadow:0px 0px 10px #BFBFBF; /* For Chrome5+, Safari5+ */

    box-shadow:0px 0px 10px #BFBFBF;	}
.content-page li
{
    width:50%;
    padding-bottom:10px;
    padding-top:10px;
    float:left;
}

